@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
::-webkit-scrollbar {
  width: 0;
}

#progressBar {
  position: fixed;
  top: 0;
  right: 0;
  width: 8px;
  height: 100%;
  border-radius: 8px;
  background: #FAFAFA;
  z-index: 999;
}

.padding {
  margin: auto;
  max-width: 1098px;
}

#banner {
  width: 100%;
  height: 100vh;
}

#banner .container {
  width: 100%;
  height: 100%;
  background: #313131;
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.171) 2px,
    transparent 0
  );
  background-size: 30px 30px;
  background-position: -5px -5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#banner .container .min-container {
  font-size: 12rem;
  color: var(--main-title);
  padding: 1rem 2rem;
  background: #2b2b2b;
  border-radius: 1rem;
  overflow: hidden;
}

#banner .container .min-container img {
  width: 12rem;
  margin-left: 4rem;
  cursor: pointer;
}

#banner .container .min-container .min-header {
  width: 100%;
  height: 4rem;
  padding: 4rem;
  margin-bottom: 2rem;
  background: #FAFAFA;
  display: flex;
  align-items: center;
  border-radius: 2rem;
}

#banner .container .min-container .min-header h4 {
  font-size: 1.6rem;
  font-weight: 500;
  color: #222224;
}

#code_area {
  width: auto;
  height: 100vh;
}

#code_area .center-title {
  text-align: center;
  margin: 2rem;
  font-size: 5.2rem;
  color: #FAFAFA;
  text-transform: uppercase;
}

#code_area .my-codes {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  gap: 2rem;
  padding: 1rem;
}

#code_area .my-codes .card {
  width: 340px;
  height: 460px;
  margin: 0 auto;
  background: #222224;
  border-radius: 8px;
  z-index: 1;
}
#code_area .my-codes .card footer {
  padding: 1rem;
}

#code_area .ui-btn {
  box-sizing: border-box;
  padding: var(--btn-padding);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--default-btn-color);
  font: var(--font-weight) var(--font-size) var(--font-family);
  background: var(--btn-default-bg);
  border: none;
  cursor: pointer;
  transition: var(--btn-transition);
  overflow: hidden;
  box-shadow: var(--btn-shadow);
  border-radius: 1rem;
}

#code_area .ui-btn span {
  letter-spacing: var(--btn-letter-spacing);
  transition: var(--btn-transition);
  box-sizing: border-box;
  position: relative;
  background: inherit;
}

#code_area .ui-btn span::before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  background: inherit;
}

#code_area .ui-btn:hover, .ui-btn:focus {
  background: var(--btn-hover-bg);
}

#code_area .ui-btn:hover span, .ui-btn:focus span {
  color: var(--hover-btn-color);
}

#code_area .my-codes .top {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

#code_area .my-codes .circle {
  padding: 0 4px;
}

#code_area .my-codes .circle2 {
  display: inline-block;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 1px;
  border-radius: 5px;
}

#code_area .my-codes .red {
  background-color: #ff605c;
}

#code_area .my-codes .yellow {
  background-color: #ffbd44;
}

#code_area .my-codes .green {
  background-color: #00ca4e;
}

#code_area .my-codes .header {
  margin: 5px;
  margin-top: 5px;
  border-radius: 5px;
}

#code_area .my-codes #title2 {
  color: white;
  padding-left: 50px;
  font-size: 15px;
}

#code_area .my-codes .code-container {
  text-align: center;
}

#code_area .my-codes #code {
  width: 290px;
  height: 350px;
  resize: none;
  background: #2c2c2e;
  border-radius: 5px;
  border: none;
  color: #FAFAFA;
  padding: 10px;
  font-size: 1.2rem;
}
#code_area .my-codes #code:focus {
  outline: none !important;
}

/*///////////////////////Popup////////////////////////////*/
.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-content {
  width: 80%;
  height: 80%;
  max-width: 800px;
  max-height: 600px;
  overflow-y: auto;
  background: #31363F;
  padding: 20px;
  border-radius: 10px;
  font-size: 1.4rem;
  transition: .3s;
}
.popup-content:hover {
  transform: translateY(-8px);
}

.popup-content .header-popup {
  padding: 1.2rem 2rem;
  background: #3c414d;
  border-radius: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popup-content .header-popup h2 {
  color: #FAFAFA;
  font-size: 2.4rem;
}

.popup-content .header-popup .Btn {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: relative;
  /* overflow: hidden; */
  border-radius: 7px;
  cursor: pointer;
  transition: all .3s;
}

.popup-content .header-popup .svgContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(0px);
  letter-spacing: 0.8px;
  border-radius: 10px;
  transition: all .3s;
  border: 1px solid rgba(156, 156, 156, 0.466);
}

.popup-content .header-popup .BG {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #181818;
  z-index: -1;
  border-radius: 10px;
  pointer-events: none;
  transition: all .3s;
}

.popup-content .header-popup .Btn:hover .BG {
  transform: rotate(35deg);
  transform-origin: bottom;
}

.popup-content .header-popup .Btn:hover .svgContainer {
  background-color: rgba(156, 156, 156, 0.466);
  backdrop-filter: blur(4px);
}

.popup-content .explanation-code {
  padding: 1.2rem 2rem;
  background: #e6e6f2;
  border-radius: 1rem;
}

.popup-content .explanation-code h2 {
  color: #2c2c2e;
  font-size: 2.4rem;
}

.popup-content .explanation-code p {
  font-weight: 500;
}

.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  background: #FAFAFA;
  color: #2b2b2b;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
/*///////////////////////Popup////////////////////////////*/
body {
  position: relative;
  height: auto;
  background: var(--main-background);
}